<div class="row justify-content-center">
    <form class="form-horizontal" action='/register' method="POST">
    <fieldset>
        <h1>РЕГИСТРАЦИЯ</h1>
        <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username">Логин</label>
        <div class="controls">
            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
   
        </div>
        </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
        <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
            <input type="text" id="email" name="email" placeholder="" class="input-xlarge">

        </div>
        </div>
    
        <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="password">Пароль</label>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">

        </div>
        </div>
    
        <div class="control-group">
        <!-- Password -->
        <label class="control-label"  for="password_confirm">Повторите пароль</label>
        <div class="controls">
            <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">

        </div>
        </div>
    
        <div class="control-group">
        <!-- Button -->
        <br>
        <div class="controls">
            <button class="btn btn-success">Регистрация</button>
        </div>
        </div>
    </fieldset>
    </form>
</div>